{% extends '../template/template.html' %}

{% block title %}PT. Maha Cipta Propertindo{% endblock %}

{% block body %}

    <div class="main">
      <div class="container">
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN CONTENT -->
          <div class="col-md-12 col-sm-12">
            <div class="content-page page-404">
               <div class="number">
                  XXX
               </div>
               <div class="details">
                  <h3>This Page is Under Construction</h3>
                  <p>
                     The page that you you're looking for is still under construction.<br>
                     <a href="/" class="link">Return home</a> or try the search bar below.
                  </p>
               </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
    </div>
{% endblock %}